<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
</head>
<body>
    <div ng-controller="WizardSignupController">
        <h2>Signup wizard</h2>
        <div ui-view></div>
    </div>
</body>
<script>
    angular.module('wizardApp',[
            'ui.router',
            'wizardapp.controllers'
    ]).config(function ($stateProvider,$urlRouterProvider) {
        $stateProvider.state('start',{
            url : '/step_1',
            templateUrl : 'partials/wizard/step_1.html'
        })
    });
    
    angular.module('wizardapp.controllers',[]).controller(
            'WizardSignupController',
            function ($scope,$state) {
                $scope.user = {};
                $scope.signup = function () {
                    
                }
            }
    )
</script>
</html>